<h1>Sessions</h1>
<%@sessions.each do |session| %>
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">
          <%= link_to session.session_date, session %>
      </h4>
    </div>
  </div>
<% end %>
