<h1>Edit Student</h1>
<div class="row">
  <div class="col-md-6 col-offset-md-3">
    <%= form_for @student do |f| %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control', placeholder: "Student's Name" %>
      </div>
      <div class="form-group">
        <%= f.submit "Save", class: 'btn btn-success' %>
      </div>
    <% end %>
  </div>
</div>
