<h1>All Students</h1>
<%@students.each do |student| %>
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">
          <%= link_to student.name, student %>
      </h4>
    </div>
  </div>
<% end %>
