<div class="wrapper-main">
  <h1>All Students</h1>
  <hr>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <%@students.each do |student| %>
        <div class="media">
          <div class="media-body">
            <h3 class="media-heading">
                <%= link_to student.name, student %> <br>
                <p>
                Number of Sessions: <%= student.tutoring_sessions.count %>
                </p>
                <hr>
            </h3>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
