<div class="wrapper-main">
  <h1>All Students
  <%= link_to "New Student", new_student_path, class: 'btn btn-info btn-xs' %>
  </h1>
  <hr>
  <div class="row">
    <div class="col-md-4 text-center">
      <%= image_tag('people.png') %>
    </div>
    <div class="col-md-6 col-md-offset-1">
      <%@students.each do |student| %>
        <div class="media">
          <div class="media-body">
            <h3 class="media-heading">
                <%= link_to student.name, student %> <br>
                <p>
                Number of Sessions: <%= student.tutoring_sessions.count %>
                </p>
                <hr>
            </h3>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
