<% provide(:title, "Home") %>
<div class="row" id="hero">
  <div class="col-md-6 col-md-offset-1">
    <h1>Welcome to VP Tut-Notes</h1>
    <p> Free-up some time. Spend it working with the kids and not on paperwork.</p>
  </div>
  <div class="col-md-4">
    <h1>Please Login</h1>
  </div>
</div>

