@import "bootstrap-sprockets";
@import "bootstrap";

#main-content {
  padding: 0;
  .wrapper-main{
    padding-top: 4em;
    padding-left: 2em;
    padding-right: 2em;
    margin: 0 auto;
    max-width: 1150px;
  }
}
