.top-wrapper{
  h2 {
    color: white;
  }
  position: relative;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba(1,135,179,.5),rgba(1,15,19,.25)), url(empty_room.jpg) center center ;
  background-size: cover;
  .wrapper {
    position: relative;
    width: 50vw;
    left: 50%;
    transform: translateX(-50%);
    top: 7em;
    .well {
      background-color: rgba(13,24,29,.55);
      color: white;
      box-shadow: 0px 20px 100px 10px black
    }
  }
}
